@import url(https://fonts.googleapis.com/css?family=Exo:100);


body{
    background-color: #F6FBFF;
}






.back1{
    background-color: #F69074;
    background-image: linear-gradient(315deg, #F69074 0%, #f69074 74%);
    margin: 10px;
}




